html, body {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

body {
}

#root {
    max-width: 600px;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
    border-left: dashed 1px;
    padding-left: 10px;
}